<!DOCTYPE html>
<html lang='pt-PT' xml:lang='pt-PT' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title><%= title %> usaisto.com</title>
	<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://usaisto.com/css/screen.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='http://feeds.feedburner.com/usaisto' rel='alternate' title='RSS' type='application/rss+xml'>

    <meta charset='utf-8'>
  </head>
  <body>
    <header>
      <h1>
        <%= title %> <a href="http://usaisto.com">usaisto.com</a>
      </h1>
    </header>
    <aside id='sidebar'>
      <!-- TODO -->
    </aside>
    <section id='contents'>
      <article class='overview'>
        
		<%= content %>

      </article>
    </section>
    <footer>
      <p>Este site é baseado na ideia original de <a href="http://usesthis.com">The Setup</a>, iniciada por <a href="http://alcidesfonseca.com">Alcides Fonseca</a> para Portugal.</p>
      
      <p>Quando não mencionado, o conteúdo encontra-se sobre a licença <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a>.</p>
    </footer>
  </body>
</html>